body{
    background: #e0e5ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.signup-box{
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

h2{
    color: #333;
    margin-bottom: 25px;
}

.input-group{
    text-align: left;
    margin-bottom: 15px;
}

.input-group label{
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input{
    width: 100;
    padding: 8px;
    border: 1px solid rgb(243, 126, 247);
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

.signup-btn{
    width: 100%;
    padding: 12px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer; /* clickable element */
    margin-top: 10px;
}

.signup-btn:hover{
    background-color: #423bcc;
}

.footer-text{
    color: rgb(112, 102, 102);
    font-weight: bold;
    margin-top: 20px;
}
.footer-text a{
    color: #6c63ff;
    text-decoration: none;
    font-weight: bold;
}